server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cashbridge
    username: root
    password: 1234567

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    
